@import '../../styles/text';
@import '../../styles/button';
@import '../../styles/form';

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}


.password {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $mobile-large) {
        width: 100%;
    }

    @include text(1rem, center, 100%);

    &-header {
        text-align: center;
    }

    &-body {
        text-align: center;
    }

    &-subheader{
        text-align: center;
    }

    @include form();
    &-form {
        margin: 3rem 0;
    
        &-button {
            width: 40rem;
            margin-top: 2rem;
        }
    
        &__input {
            width: 40rem;
        }
    }
}
