@import '../../styles/text';
@import '../../styles/button';
@import '../../styles/form';

.auth-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $tablet-big) {
        flex-direction: column;
    }

    &-right {
        width: 48vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: $tablet-big) {
            width: 100%;
        }
    }

    &-left {
        width: 48vw;
        display: flex;
        flex-direction: column;

        @include text(10px, left, 100%);
        &-header{
            text-align: left;
        }

        @media only screen and (max-width: $tablet-big) {
            border-right: none;
        }

        &-row {
            width: 46rem;
            margin: 0 auto;
        }

        &-link{
            margin-left: 1rem;
            color: #5138EE;
            font-weight: 700;
            text-decoration: none;
        }
    }

    @include text(10px, center, 100%);

    &-header {
        line-height: 0;
        letter-spacing: 0.091em
    }

    @include form();
    &-form {
        margin-top: 2rem;
    
        &__label {
            text-transform: capitalize;
        }
    
        &__group:not(:last-child) {
            margin-bottom: 1rem;
        }
    
        &__input {
            width: 100%;
            padding: 0.7rem 1rem;
            border-radius: 5px;
        }
    
        &-button {
            border-radius: 10px;
            width: 100%;
            margin: 1.5rem 0;
        }
    
        &__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__check{
            align-items: center;
            display: flex;
            width: 14rem;
            justify-content: space-between;
        }
    }
}
