// FONT VARIABLES
$font-primary: 'Poppins-Regular';
$font-header: 'Poppins-Bold';
$font-Subheader: 'Poppins-SemiBold';
$font-medium: 'Poppins-Medium';

@import './vairable';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $laptop-medium){
    font-size: 58%;
  }

  @media only screen and (max-width: $laptop-small){
    font-size: 54%;
  }

  @media only screen and (max-width: $tablet-big){
    font-size: 50%;
  }

  @media only screen and (max-width: $tablet-small){
    font-size: 48%;
  }

  @media only screen and (max-width: $tablet){
    font-size: 44%;
  }

  @media only screen and (max-width: $mobile-large){
    font-size: 40%;
  }

  @media only screen and (max-width: $mobile-medium){
    font-size: 36%;
  }

  @media only screen and (max-width: $mobile-small){
    font-size: 30%;
  }
}


body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Poppins-Regular';
  src: url("../assets/Poppins/Poppins-Regular.ttf");
}

@font-face{
  font-family: 'Poppins-Bold';
  src: url("../assets/Poppins/Poppins-Bold.ttf");
}

@font-face{
  font-family: 'Poppins-SemiBold';
  src: url("../assets/Poppins/Poppins-SemiBold.ttf");
}

@font-face{
  font-family: 'Poppins-Medium';
  src: url("../assets/Poppins/Poppins-Medium.ttf");
}
