//new Responsive breakpoints
$laptop-medium: 75em;       //1200px
$laptop-small: 64em;        //1024px
$tablet-big: 56em;          //896px
$tablet-small: 48em;        //768px
$tablet: 37.28em;           //596.5px
$mobile-large:  26.8em;    //429px
$mobile-medium: 23.46em;    //375px
$mobile-small:  20.1em;     //320px

$primary-color: #124559;
$secondary-color-1: #4B7280;
$secondary-color-2: #BA94EB;
$secondary-color-3: #D6BFF3;
$secondary-color-4: #F1EAFB;
$secondary-color-5: #16072A;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #C4C4C4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
